.JobCard {
  width: 450px;
  height: 440px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;

  background-color: aliceblue;
  overflow: hidden;

  img {
    width: 100%;
  }
  div {
      width: 100%;
    h4 {
      font-size: 22px;
      margin: 0;
      padding: 15px 20px 0 20px;
    }
    p {
      font-size: 20px;
      line-height: 1.2;
      padding: 0px 20px;
      letter-spacing: 0.4px;
    }
    a {
      font-size: 20px;
      text-decoration: none;
      color: black;
      border: 1px solid blue;
      padding: 10px 15px;
      text-align: right !important;
      margin: 10px 20px;
    }
  }
}
