.Button{
    background-color: #3fa83b;
    color: #fff;
    border: none;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    transition: .5s;
}
.Button:hover{
    background-color: #256822;

}