.NavLinks{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  li{
    cursor: pointer;
    margin: 0 20px;
    a{
      color: #02842b;
      text-decoration: none;
      font-size: 20px;
    }
  }
  .login, .logout{
    background-color: #238402;
    a, span{
      color: #fff;
    }
  }
  .register{
    border: 2px solid #028438;
  }
  .login, .register, .logout{
    padding: 10px 20px;
    border-radius: 10px;
  }
  .burger{
    display: none;
  }
}
@media (max-width: 1200px) {
  .NavLinks{
    li{
      margin: 10px;
    }
    .burger{
      display: block!important;
    }
    .pagesLink{
      display: none;
    }
    .drawerLink{
      display: block;
    }
  }

}
